*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
h1 {color:red;
    text-align: center;
}
.container{
    max-width: 80%;
    margin: auto;
    padding: auto;
    background-color: bisque;
}
p{
    text-align: center;
}
button{
    text-align: center;
    font-size: 15px;
    background-color: transparent;
    color:blue;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}
button:hover{
    background-color: chocolate;
}
}
input{
    margin:10px;
}